<h2>My New Words!</h2>

<% @word_list.each do |word| %>
  <h4><a href="/word/<%= word.id %>"><%= word.word %></a></h4>
<% end %>

<h4>Add a word to the list:</h4>

<form action="/" method="post">
  <div class="form-group">
    <label for="word">Word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add word!</button>
</form>
